<!-- <link rel="import" href="header.html"> -->
<link href="./css/login.css" rel="stylesheet" type="text/css"/>
<div class="loginContent">
	<h1>Log in to your account..!</h1>
	<div class="rows">
		<table id="tblReport">
			<thead>
				<th></th>
				<th>Nationality</th>
				<th>0-30</th>
				<th>31-50</th>
				<th>50 and above</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
<script src="../js/jquery-1.12.4.js" type="text/html"></script>
<script src="../js/common.js" type="text/html"></script>
<script src="../js/home.js" type="text/html"></script>
<!-- <iframe id="iframe-main" class="border-none" src="./footer.html"></iframe> -->